*{
    margin:0;
    padding:0;   
    box-sizing:border-box;
}
/* nav section */
header{
    border-top:4px solid white;
    background:#fff;
}

nav{
    width:90%;
    height:80px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav img{
    width:140px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:40px;
}

nav ul li a{
    text-decoration:none;
    color:#555;
    font-size:16px;
}

nav button{
    padding:12px 24px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* hero section */

.hero{
    width:100%;
    height:90vh;
    position:relative;
}

.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}


.hero::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.55);
}

.hero-content{
    width:700px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
    z-index:1;
}

.hero-content h1{
    font-size:65px;
    font-weight:700;
    margin-bottom:20px;
}

.hero-content span{
    font-style:italic;
}

.hero-content p{
    font-size:18px;
    line-height:28px;
    margin-bottom:40px;
}

.hero-content button{
    padding:15px 35px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
}
/* image card */
.speaker-section{
    width:90%;
    margin:80px auto;
    
}

.speaker-section h1{
    text-align:center;
    font-size:50px;
    margin-bottom:50px;
}

.speakers{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    border-radius: 30px;
}

.card{
    background:white;
    border-radius:30px;
    overflow:hidden;
    border:1px solid #ddd;
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.card h5{
    color:#2563eb;
    font-size:11px;
    margin:15px 20px 8px;
}

.card h3{
    margin:0 20px;
    font-size:22px;
}

.card p{
    margin:10px 20px 20px;
    color:gray;
    font-size:14px;
}

/* price cards */
.pricing{
    width:90%;
    margin:80px auto;
    text-align:center;
}

.pricing h1{
    font-size:45px;
    margin-bottom:10px;
}

.pricing p{
    color:gray;
    margin-bottom:50px;
}

.price-container{
    display:flex;
    justify-content:center;
    gap:25px;
}

.price-card{
    width:320px;
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    padding:25px;
    text-align:left;
}

.price-card h5{
    color:gray;
    margin-bottom:10px;
}

.price-card h2{
    font-size:45px;
}

.price-card span{
    color:gray;
    font-size:14px;
}

.price-card hr{
    margin:20px 0;
}

.price-card ul{
    margin-left:20px;
    line-height:35px;
    margin-bottom:30px;
}

.price-card button{
    width:100%;
    padding:12px;
    border:1px solid royalblue;
    border-radius:8px;
    background:white;
    color:royalblue;
    font-weight:bold;
    cursor:pointer;
}

.active-card{
    background:#0f172a;
    color:white;
}

.active-card span{
    color:#ddd;
}

.active-card button{
    background:royalblue;
    color:white;
    border:none;
}